HotelReservationSystemClient/xml-resources/web-service-references/HotelReservationWebService/wsdl/localhost_8080/HotelReservationWebService/HotelReservationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="GuestNotFoundException" type="tns:GuestNotFoundException"/>

<xs:element name="InvalidLoginCredentialsException" type="tns:InvalidLoginCredentialsException"/>

<xs:element name="PartnerNotFoundException" type="tns:PartnerNotFoundException"/>

<xs:element name="ReservationNotFoundException" type="tns:ReservationNotFoundException"/>

<xs:element name="RoomNotFoundException" type="tns:RoomNotFoundException"/>

<xs:element name="RoomNumberAlreadyExistException" type="tns:RoomNumberAlreadyExistException"/>

<xs:element name="RoomRateNotFoundException" type="tns:RoomRateNotFoundException"/>

<xs:element name="RoomTypeNotFoundException" type="tns:RoomTypeNotFoundException"/>

<xs:element name="addReservation" type="tns:addReservation"/>

<xs:element name="addReservationResponse" type="tns:addReservationResponse"/>

<xs:element name="createNewReservation" type="tns:createNewReservation"/>

<xs:element name="createNewReservationResponse" type="tns:createNewReservationResponse"/>

<xs:element name="generateReservation" type="tns:generateReservation"/>

<xs:element name="generateReservationResponse" type="tns:generateReservationResponse"/>

<xs:element name="getLoadedReservation" type="tns:getLoadedReservation"/>

<xs:element name="getLoadedReservationResponse" type="tns:getLoadedReservationResponse"/>

<xs:element name="getPartnerByUsername" type="tns:getPartnerByUsername"/>

<xs:element name="getPartnerByUsernameResponse" type="tns:getPartnerByUsernameResponse"/>

<xs:element name="getPartners" type="tns:getPartners"/>

<xs:element name="getPartnersResponse" type="tns:getPartnersResponse"/>

<xs:element name="getRoomById" type="tns:getRoomById"/>

<xs:element name="getRoomByIdResponse" type="tns:getRoomByIdResponse"/>

<xs:element name="getRoomByNumber" type="tns:getRoomByNumber"/>

<xs:element name="getRoomByNumberResponse" type="tns:getRoomByNumberResponse"/>

<xs:element name="getRoomRateById" type="tns:getRoomRateById"/>

<xs:element name="getRoomRateByIdResponse" type="tns:getRoomRateByIdResponse"/>

<xs:element name="getRoomRateByName" type="tns:getRoomRateByName"/>

<xs:element name="getRoomRateByNameResponse" type="tns:getRoomRateByNameResponse"/>

<xs:element name="getRoomRates" type="tns:getRoomRates"/>

<xs:element name="getRoomRatesResponse" type="tns:getRoomRatesResponse"/>

<xs:element name="getRoomTypeById" type="tns:getRoomTypeById"/>

<xs:element name="getRoomTypeByIdResponse" type="tns:getRoomTypeByIdResponse"/>

<xs:element name="getRoomTypeByName" type="tns:getRoomTypeByName"/>

<xs:element name="getRoomTypeByNameResponse" type="tns:getRoomTypeByNameResponse"/>

<xs:element name="getRoomTypes" type="tns:getRoomTypes"/>

<xs:element name="getRoomTypesResponse" type="tns:getRoomTypesResponse"/>

<xs:element name="getRooms" type="tns:getRooms"/>

<xs:element name="getRoomsResponse" type="tns:getRoomsResponse"/>

<xs:element name="loginGuest" type="tns:loginGuest"/>

<xs:element name="loginGuestResponse" type="tns:loginGuestResponse"/>

<xs:element name="retrieveAllPartnerReservations" type="tns:retrieveAllPartnerReservations"/>

<xs:element name="retrieveAllPartnerReservationsResponse" type="tns:retrieveAllPartnerReservationsResponse"/>

<xs:element name="retrieveAllReseravtions" type="tns:retrieveAllReseravtions"/>

<xs:element name="retrieveAllReseravtionsResponse" type="tns:retrieveAllReseravtionsResponse"/>

<xs:element name="retrieveAllReservationWithinDates" type="tns:retrieveAllReservationWithinDates"/>

<xs:element name="retrieveAllReservationWithinDatesResponse" type="tns:retrieveAllReservationWithinDatesResponse"/>

<xs:element name="retrieveReservationByReservationId" type="tns:retrieveReservationByReservationId"/>

<xs:element name="retrieveReservationByReservationIdResponse" type="tns:retrieveReservationByReservationIdResponse"/>

<xs:element name="searchRooms" type="tns:searchRooms"/>

<xs:element name="searchRoomsResponse" type="tns:searchRoomsResponse"/>

<xs:element name="updateRoom" type="tns:updateRoom"/>

<xs:element name="updateRoomResponse" type="tns:updateRoomResponse"/>

<xs:complexType name="getPartnerByUsername">
<xs:sequence>
<xs:element name="partnerUsername" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPartnerByUsernameResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="employeeType" type="tns:partnerEmployeeTypeEnum" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservationList" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="allocated" type="xs:boolean" minOccurs="0"/>
<xs:element name="amountPerRoom" type="xs:decimal" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="numOfRooms" type="xs:decimal" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="reservationType" type="tns:reservationTypeEnum" minOccurs="0"/>
<xs:element name="roomList" type="tns:room" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="room">
<xs:sequence>
<xs:element name="bookedDates" type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="isCheckedIn" type="xs:boolean"/>
<xs:element name="roomNumber" type="xs:string" minOccurs="0"/>
<xs:element name="roomRmType" type="tns:roomType" minOccurs="0"/>
<xs:element name="roomStatus" type="tns:roomStatusEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomType">
<xs:sequence>
<xs:element name="amenities" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="bed" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:decimal" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="parentRoomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="roomRates" type="tns:roomRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="rooms" type="tns:room" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="size" type="xs:decimal" minOccurs="0"/>
<xs:element name="statusType" type="tns:roomStatusEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomRate">
<xs:sequence>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="rate" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateStatus" type="tns:roomStatusEnum" minOccurs="0"/>
<xs:element name="roomRateType" type="tns:roomRateTypeEnum" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PartnerNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRooms">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRoomsResponse">
<xs:sequence>
<xs:element name="return" type="tns:room" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RoomNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPartners">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPartnersResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomById">
<xs:sequence>
<xs:element name="roomID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:room" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateRoom">
<xs:sequence>
<xs:element name="room" type="tns:room" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateRoomResponse">
<xs:sequence>
<xs:element name="return" type="tns:room" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RoomNumberAlreadyExistException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RoomTypeNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveReservationByReservationId">
<xs:sequence>
<xs:element name="guest" type="tns:guest" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guest">
<xs:sequence>
<xs:element name="guestId" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="passportNumber" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservationList" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveReservationByReservationIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomTypes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRoomTypesResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomRateById">
<xs:sequence>
<xs:element name="roomRateId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomRateByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomRate" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RoomRateNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchRooms">
<xs:sequence>
<xs:element name="checkIndate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchRoomsResponse">
<xs:sequence>
<xs:element name="return" type="tns:room" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllPartnerReservations">
<xs:sequence>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllPartnerReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReservation">
<xs:sequence>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewReservation">
<xs:sequence>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomTypeById">
<xs:sequence>
<xs:element name="roomTypeID" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomTypeByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllReservationWithinDates">
<xs:sequence>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllReservationWithinDatesResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoadedReservation">
<xs:sequence>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLoadedReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generateReservation">
<xs:sequence>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generateReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomRates">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRoomRatesResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomRate" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginGuest">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginGuestResponse">
<xs:sequence>
<xs:element name="return" type="tns:guest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GuestNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveAllReseravtions">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveAllReseravtionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomRateByName">
<xs:sequence>
<xs:element name="roomRate" type="tns:roomRate" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomRateByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomRate" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomByNumber">
<xs:sequence>
<xs:element name="roomNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomByNumberResponse">
<xs:sequence>
<xs:element name="return" type="tns:room" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomTypeByName">
<xs:sequence>
<xs:element name="roomTypeName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomTypeByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="partnerEmployeeTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="EMPLOYEE"/>
<xs:enumeration value="MANAGER"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="reservationTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="ONLINE"/>
<xs:enumeration value="WALK_IN"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roomStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="UNAVAILABLE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roomRateTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="PUBLISHED"/>
<xs:enumeration value="NORMAL"/>
<xs:enumeration value="PEAK"/>
<xs:enumeration value="PROMOTION"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>